/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  /* raleway-500 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/raleway-v22-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v22-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  /* raleway-600 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/raleway-v22-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v22-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/raleway-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  /* raleway-800 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/raleway-v22-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v22-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  /* raleway-900 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/raleway-v22-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v22-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  }

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-header;
    }
}

@layer components {
    figcaption {
        margin-bottom: 3rem;
    }

    .tooltip:after {
        background: transparent;
        content: '';
        display: block;  
        position: absolute;
        left: 50%;
        top: -14px;
        transform: rotate(180deg) translateX(70%);
        width: 0;
        height: 0;
        border: 9px solid transparent;
        border-bottom-color: hsl(var(--s));
    }
    .tooltip:before{
        background: hsl(var(--s));
        color: hsl(var(--b1));
        bottom: 150%;
    }

    input[type="radio"]:checked~span {
        font-weight: 700;
        color: hsl(var(--bc))
      }
}

@layer utilities {
    :root[data-theme="dark"] .hero-h1 {
        background-image: linear-gradient(
        90deg,
        hsl(165deg 100% 55%) 0%,
        hsl(166deg 98% 55%) 5%,
        hsl(167deg 97% 55%) 10%,
        hsl(168deg 95% 55%) 15%,
        hsl(169deg 93% 55%) 20%,
        hsl(170deg 91% 55%) 25%,
        hsl(171deg 90% 55%) 30%,
        hsl(172deg 88% 55%) 35%,
        hsl(173deg 86% 55%) 40%,
        hsl(175deg 85% 54%) 44%,
        hsl(176deg 83% 54%) 49%,
        hsl(177deg 82% 54%) 54%,
        hsl(179deg 80% 53%) 59%,
        hsl(180deg 79% 53%) 64%,
        hsl(182deg 81% 53%) 69%,
        hsl(183deg 83% 53%) 73%,
        hsl(184deg 85% 53%) 78%,
        hsl(185deg 87% 54%) 83%,
        hsl(186deg 89% 54%) 87%,
        hsl(188deg 92% 54%) 92%,
        hsl(188deg 94% 53%) 96%,
        hsl(189deg 96% 53%) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }

    :root[data-theme="light"] .hero-h1 {
        background-image: linear-gradient(
        90deg,
        hsl(334deg 100% 50%) 0%,
        hsl(336deg 96% 55%) 5%,
        hsl(336deg 91% 56%) 9%,
        hsl(336deg 86% 58%) 14%,
        hsl(334deg 81% 58%) 19%,
        hsl(333deg 75% 58%) 23%,
        hsl(330deg 70% 59%) 28%,
        hsl(327deg 64% 58%) 32%,
        hsl(324deg 58% 58%) 37%,
        hsl(319deg 52% 58%) 41%,
        hsl(313deg 46% 57%) 46%,
        hsl(305deg 40% 57%) 50%,
        hsl(295deg 38% 57%) 55%,
        hsl(284deg 42% 60%) 59%,
        hsl(274deg 45% 62%) 64%,
        hsl(263deg 50% 64%) 69%,
        hsl(253deg 55% 66%) 74%,
        hsl(243deg 60% 68%) 79%,
        hsl(233deg 69% 67%) 84%,
        hsl(225deg 79% 65%) 89%,
        hsl(218deg 88% 61%) 94%,
        hsl(210deg 96% 53%) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }

    :root[data-theme="dark"] .hero-img:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    }

}

/* Theming */

    /* If dark */
    :root[data-theme="dark"] .dark-hidden {
        display: none;
    }

    :root[data-theme="dark"] .light-hidden {
        display: block;
    }

    /* If light */
    :root[data-theme="light"] .dark-hidden {
        display: block;
    }

    :root[data-theme="light"] .light-hidden {
        display: none;
    }


